server {
    listen                  80 0.0.0.0;
    server_name             server1;
    root                    /var/www/example.com;
    index                   index.html;
    error_pages              404 /custom_404.html;
    client_max_body_size    1024;
    request_method          GET POST;
    autoindex               on;

    location /test {
        error_pages              404 /custom_404.html;
        client_max_body_size    1024;
        request_method          GET POST;
    }

    location /upload {
        error_pages              404 /custom_404.html;
        client_max_body_size    1024;
        request_method          GET POST;
    }
}

server {
    listen                  8080 0.0.0.0;
    server_name              server2;
    root                    /var/www/example.com;
    index                   index.html;
    error_pages              404 /custom_404.html;
    client_max_body_size    1024;
    request_method          GET POST;
    autoindex               on;
}